.compactNumericInput {
    :global(.bp5-input) {
        font-size: 0.8em !important;
        height: 22px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 6px !important;
    }

    :global(.bp5-button-group.bp5-vertical) {
        min-width: 18px !important;

        :global(.bp5-button) {
            min-height: 11px !important;
            height: 11px !important;
            padding: 0 !important;

            :global(.bp5-icon) {
                margin: 0 !important;

                svg {
                    width: 10px !important;
                    height: 10px !important;
                }
            }
        }
    }
}

.compactInputGroup {
    :global(.bp5-input) {
        font-size: 0.8em !important;
        height: 22px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 6px !important;
    }
}

.compactHTMLSelect {
    height: 22px !important;

    select {
        font-size: 0.8em !important;
        height: 22px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 6px !important;
        padding-right: 20px !important;
    }

    :global(.bp5-icon) {
        right: 4px !important;
        // Adjust icon position for smaller height
        top: 50% !important;
        transform: translateY(-50%) !important;
        margin: 0 !important;
    }
}

.compactSwitch {
    margin: 0 !important;
    min-height: 22px !important;
    height: 22px !important;
    display: inline-flex !important;
    align-items: center !important;
}