.minimalSection {
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;


	:global(.bp5-control-group.bp5-vertical)>&:not(:last-child) {
		margin-bottom: 0 !important;
	}

	&> :global(.bp5-section-header) {
		border: none !important;
		border-top: 1px solid rgba(17, 20, 24, 0.15) !important;
		padding: 0px 8px !important;
		margin: 0 !important;
		transition: none !important;
		border-radius: 0 !important;
		min-height: 0 !important;
		height: 35px !important;
		user-select: none !important;

		& :global(.bp5-section-header-left) {
			padding: 2px 0 2px 0 !important;
		}

		& :global(.bp5-section-header-title) {
			margin: 0 !important;
			padding: 0 !important;
			font-size: 12px !important;
			font-weight: 600 !important;
		}

		& :global(.bp5-section-header-sub-title) {
			font-size: 9px !important;
		}

		& :global(.bp5-icon) {
			width: 12px !important;
			height: 12px !important;

			& svg {
				width: 12px !important;
				height: 12px !important;
			}
		}

		& :global(.bp5-button) {
			min-height: 18px !important;
			min-width: 18px !important;
			padding: 0px 2px !important;
		}


	}

	& :global(.bp5-collapse) {
		transition: none !important;
		padding: 0px 0px !important;
	}

	& :global(.bp5-section-card) {
		border-radius: 0 !important;
		border: none !important;
		box-shadow: none !important;

	}
}

:export {
	minimalSection: minimalSection;
}