.custom-scrollbar {
	overflow-y: auto;


	&,
	& * {
		&::-webkit-scrollbar {
			width: 4px;
			background: transparent;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: transparent;
			border-radius: 3px;
		}

		&:hover::-webkit-scrollbar-thumb {
			background: rgba(130, 130, 130, 0.2);

			&:hover {
				background: rgba(130, 130, 130, 0.6);
			}
		}
	}
}